.well{
  background-image: image(Hackaton2.jpg);
}
h1{
    text-align: center;
}
#link1{
  font-size: 30px;
  text-align: center;
}
#link2{
  font-size: 30px;
  text-align: center;
}
#link3{
  font-size: 30px;
  text-align: center;
  color: #932a0a;
}
img{
  margin-top: 30px;
}
