.well{
  background-image: image(Hackaton2.jpg);
}
h1{
    text-align: center;
}
#link1{
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
}
#link2{
  font-size: 30px;
  text-align: center;
}
