<!--index.vtl-->

<img src='/images/Hackaton2.jpg' alt='A photo of Hackaton.'/>
<h1>Meet our Team's in the Hackathon!</h1>

<p id="link1"><a href="/teams">View Team List</a><p>
<p id="link2"><a href="/teams/new">Add a New Team</a><p>
<p id="link3"><a href="/hackaton">Hachathon Info</a><p>

<!--index.vtl-->
